/* General Styling */
body {
  background: url('/image/EWU-classroom.jpg') no-repeat center center fixed;
  /* Replace with your actual image URL */
  background-size: cover;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b5c3d1;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Full viewport height */
}

.header {
  background: #3E8E41;
  color: white;
  text-align: center;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.header-options {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
}

header select,
header button {
  padding: 10px;
  background-color: #fff;
  color: #3E8E41;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header button:hover,
header select:hover {
  background-color: #3E8E41;
  color: white;
}

.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 25px;
  background: #827a6c;
  border: 1px solid #b7b3b3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: beige;
}

form {
  display: grid;
  gap: 20px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
}

button {
  background: #3E8E41;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #2b6b2f;
}

label {
  font-weight: bold;
  color: #555;
}

p a {
  color: #3E8E41;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

/* Dark Theme */
.dark-theme {
  background-color: #121212;
  color: #ddd;
}

.dark-theme header {
  background-color: #1a3c25;
}

.dark-theme form input,
.dark-theme form textarea {
  background-color: #333;
  color: white;
  border: 1px solid #444;
}

.dark-theme form button {
  background-color: #2b6b2f;
}

/* Style for Smaller Devices */
@media (max-width: 600px) {
  .header-content h1 {
    font-size: 28px;
  }

  .header-options {
    flex-direction: column;
    align-items: flex-start;
  }

  form {
    gap: 15px;
  }
}

.footer {
  background: #3E8E41;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}